.Chats{
    width: 100%;
    height: 100%;
    padding: 5px;
}
.Chats_Search{
    width: 100%;
    display: flex;
    padding: 0 5px;
}
.Chats_Search input{
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 7px 12px;
    outline-color: white;
}


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.Chats_ChatImg{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.Chats_ChatsBlock{
    margin-top: 5px;
}
.Chats_ChatBlock{
    display: flex;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.Chats_ChatBlock:hover{
    background-color: azure;
}
.Chats_ChatInfo h2{
    font-size: 20px;
}
.Chats_ChatInfo_message{
    color: rgba(0, 0, 0, 0.507);
    margin-left: 5px;
}
.optionalMenu{
    display: flex;
}
.optionalMenu button {
    color: black;
    border: 1px solid black;
}