.ModalSettings{
    height: 100%;
    width: 100%;
    padding: 30px;
    color: white;
}
.ModalSettings_Title h1{
    font-size: 36px;
}
.ModalSettings_Content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.AvatarSettings{
    height: 25%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.AvatarSettings h1{
    font-size: 20px;
}
.AvatarSettings img{
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: black 1px solid;
}
.AvatarSettings input{
    display: none;
}

.InputsSettings{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.Inputs input {
    color: white;
    background-color: #414450;
    border: 1px rgba(0, 255, 255, 0.5) solid;
    outline-color: rgba(0, 255, 255, 0.5);
    margin-top: 15px;
    padding: 15px 10px;
}
.ButtonsSettings{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Buttons button{
    width: 150px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
    border-radius: 20px;
    transition: all ease 0.4s;
    transform: translate(0%, 0%);
    color: #fff;
    background-size: 400%;
}
.Buttons button:hover{
    color: #000;
    background-color: white;
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
}
 button:before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    background: linear-gradient(45deg, white, violet, #0ff, violet, #0ff, white, violet,#0ff);
    background-size: 400%;
    border-radius: 20px;
    opacity: 0;
    transition: 0.5%;
}
.Buttons button:hover:before{
    filter: blur(15px);
    opacity: 0.5;
    animation: animate 8s linear infinite;
}