.LeftMenu{
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #22252e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.svg_icon{
    border-radius: 10px;
    padding: 12px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.svg_icon_active {
    border-radius: 10px;
    padding: 12px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #b6c8c9;
}
.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.logo_img{
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.logo_block{
    margin-top: 30px;
}
.profile_block{
    margin-bottom: 30px;
}
.profile_block_svg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}